.header {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  margin-bottom: auto;
  align-items: center;
  justify-content: space-between;

  .game-state--welcome & {
    display: none;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: 24px;
    font-weight: 600;
    color: var(--K400);
  }

  .menu-wrap {
    position: relative;
    margin-right: -10px;
  }

  .menu-toggle-btn {
    transition: 0.1s ease opacity;
    z-index: 8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 4px;

    border: unset;
    background: unset;
    border-radius: 8px;
    box-shadow: unset;

    &--hide {
      opacity: 0;
    }

    svg {
      transition: 0.1s ease all;
      width: 30px;
      height: 30px;
      fill: var(--K800);
    }

    &:hover {
      span {
        color: var(--red);
      }
      svg {
        fill: var(--red);
      }
    }
  }
}
