@use "../css/mixins.scss" as *;

.modal {
  overflow: hidden;
  z-index: 11;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: 600px;
  max-width: calc(100% - 40px);

  border: unset;
  border-radius: 12px;
  background: rgba(var(--white-rgb), 1);
  box-shadow:
    1px 2px 12px rgba(var(--K800-rgb), 0.1),
    2px 4px 24px rgba(var(--K800-rgb), 0.1);

  color: var(--white);

  .modal-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px 0 30px;
    flex-shrink: 0;

    h2 {
      margin: 0;
      font-size: 20px;
      flex: 1;
      font-weight: 350;
      color: var(--K700);
    }

    .dialog-close-btn {
      position: absolute;
      top: 12px;
      right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;

      border: unset;
      background: unset;
      border-radius: 8px;
      box-shadow: unset;

      svg {
        transition: 0.1s ease all;
        width: 32px;
        height: 32px;
        fill: var(--K700);
      }

      &:focus,
      &:hover {
        outline: none;
        background: var(--K200);

        svg {
          fill: var(--red);
        }
      }
    }
  }

  .modal-content {
    @include scrollbar-mixin;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;

    font-size: 16px;
    color: var(--K700);
    font-weight: 700;
    line-height: 1.3;
  }

  &::backdrop {
    z-index: 10;
    background: rgba(var(--K600-rgb), 0.2);
    backdrop-filter: blur(4px);
  }
}

.small-modal {
  max-width: 340px;
}
