$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "K50": #fdfdfd,
  "K100": #f8f8f8,
  "K150": #eeeeee,
  "K200": #e4e4e4,
  "K300": #d2d2d2,
  "K400": #bababa,
  "K500": #a2a2a2,
  "K600": #888888,
  "K700": #666666,
  "K800": #4d4d4f,
  "K900": #282828,
  "K950": #0a0a0a,
  "gold": #ffb74c,
  "dark-gold": #473315,
  "card-beige": #fffefb,
  "card-red": #c01f3a,
  "beige": #cabb99,
  "brown": #705a27,
  "red": #b43733,
  "orange": #da8037,
  "blue": #52a3c4,
  "purple": #8956b9,
  "green": #4ea069,
  "dull-green": #718d7a,
);
