$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "K50": #fdfdfd,
  "K100": #f8f8f8,
  "K150": #eeeeee,
  "K200": #e4e4e4,
  "K300": #d2d2d2,
  "K400": #bababa,
  "K500": #a2a2a2,
  "K600": #888888,
  "K700": #666666,
  "K800": #4d4d4f,
  "K900": #282828,
  "K950": #0a0a0a,
  "red": #b43733,
  "yellow": #f0cf40,
  "orange": #da8037,
  "blue": #52a3c4,
  "purple": #8956b9,
  "green": #4ea069,
  "accent": #8956b9,
  "accent-hover": #634381,
);
