#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

.main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 30px 20px;

  width: 100%;
  max-width: 400px;

  &__score {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
  }

  &__timer {
    $bar-height: 60px;

    overflow: hidden;
    position: relative;
    height: $bar-height;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--K200);
    border-radius: calc($bar-height / 2);
    border: 4px solid var(--white);
    box-shadow:
      inset 0 0 12px rgba(var(--K800-rgb), 0.1),
      1px 2px 4px rgba(var(--K800-rgb), 0.1),
      2px 4px 12px rgba(var(--K800-rgb), 0.1);

    &__text {
      position: relative;
      z-index: 2;
      font-size: 24px;
      font-weight: 600;
      color: var(--white);
      text-shadow: 0 1px 3px rgba(var(--black-rgb), 0.2);
    }
    &__bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;

      background: var(--blue);

      &--yellow {
        background: var(--yellow);
      }
      &--orange {
        background: var(--orange);
      }
      &--red {
        background: var(--red);
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;

    border-radius: 12px;
    border: 1px solid var(--K200);
    background: var(--white);

    box-shadow:
      inset 0 0 12px rgba(var(--K800-rgb), 0.1),
      1px 2px 4px rgba(var(--K800-rgb), 0.1),
      2px 4px 12px rgba(var(--K800-rgb), 0.1);

    p {
      margin: 0;
      font-weight: 600;
    }

    button {
      box-shadow: unset;
    }

    .main-options-list {
      $time-pad: 4px;

      overflow: hidden;
      display: flex;
      gap: $time-pad;
      padding: $time-pad;

      border-radius: calc(var(--button-height) / 2 + $time-pad);
      background: var(--K200);
      box-shadow: inset 0 0 5px rgba(var(--K800-rgb), 0.15);

      button {
        padding: unset;
        height: var(--button-height);

        border: 2px solid transparent;
        background: transparent;
        box-shadow: unset;

        font-weight: 450;
        color: var(--K600);

        &:not(:disabled):hover {
          border-color: transparent;
          background-color: rgba(var(--accent-rgb), 0.1);
          color: var(--accent);
        }

        &:disabled {
          border-color: rgba(var(--accent-rgb), 1);
          background-color: rgba(var(--accent-rgb), 0.1);
          // background: var(--accent);
          // box-shadow:
          //   0 1px 3px rgba(var(--accent-rgb), 0.2),
          //   1px 2px 5px rgba(var(--accent-rgb), 0.2);

          color: var(--accent);
        }
      }

      &--time {
        // padding-left: calc($time-pad * 2);
        // padding-right: calc($time-pad * 2);

        button {
          flex: 1;
        }
      }
      &--lists {
        flex-direction: column;

        button {
          width: 100%;
        }
      }
    }
  }

  &__guessing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;

    &__buttons {
      display: flex;
      width: 100%;
      gap: 20px;

      button {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        height: calc(var(--button-height) * 2);

        font-size: 30px;
        font-weight: 600;
        color: var(--white);
      }
    }
  }

  .card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    width: 100%;
    height: 300px;

    border-radius: 20px;
    background: var(--white);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

    span {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 30px;

      font-size: 38px;
      font-weight: 600;
      text-align: center;
    }

    &__one {
      background: var(--white);
    }
    &__three {
      background: var(--K100);
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}
