#root {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--K100);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 400px;

  &__score {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
  }

  &__timer {
    overflow: hidden;
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--K200);
    border-radius: 20px;
    border: 4px solid var(--white);
    box-shadow:
      inset 0 0 12px rgba(var(--K800-rgb), 0.1),
      1px 2px 4px rgba(var(--K800-rgb), 0.1),
      2px 4px 12px rgba(var(--K800-rgb), 0.1);

    &__text {
      position: relative;
      z-index: 2;
      font-size: 20px;
    }
    &__bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;

      background: var(--K400);
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;

    border-radius: 12px;
    border: 1px solid var(--K300);
    background: var(--white);

    p {
      margin: 0;
      font-weight: 600;
    }

    button {
      box-shadow: unset;
    }

    .main-options-list {
      $time-pad: 4px;

      display: flex;
      gap: $time-pad;
      padding: $time-pad;

      border-radius: calc(var(--button-height) / 2 + $time-pad * 2);
      background: var(--K200);
      box-shadow: inset 0 0 10px rgba(var(--K800-rgb), 0.2);

      button {
        height: var(--button-height);

        border: unset;
        background: unset;
        box-shadow: unset;
        color: var(--K600);

        &:disabled {
          border: unset;
          background: var(--white);
          color: var(--K800);
          box-shadow: 0 1px 3px rgba(var(--K800-rgb), 0.2);
        }
      }

      &--time {
        button {
          flex: 1;
        }
      }
      &--lists {
        flex-direction: column;

        button {
          width: 100%;
        }
      }
    }
  }

  &__guessing {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__buttons {
      display: flex;
      gap: 20px;

      button {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        height: var(--button-height);

        font-size: 24px;
        color: var(--white);

        &.btn--minus-one {
          background: red;
        }
        &.btn--plus-one {
          background: orange;
        }
        &.btn--plus-three {
          background: green;
        }
      }
    }
  }

  .card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 300px;

    border-radius: 20px;
    background: var(--white);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

    span {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 20px;

      font-size: 40px;
      font-weight: 600;
      text-align: center;
    }

    &__one {
      background: var(--white);
    }
    &__three {
      background: var(--K100);
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}
