@mixin scrollbar-mixin {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--black);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--K900);

    &:hover {
      background-color: var(--K800);
    }
  }
}
