#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200;
    height: 300px;

    border-radius: 12px;
    background: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}
