@use "./colors.scss";
@use "./media.scss";
@use "./main.scss";
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return color.channel($hex, "red", $space: rgb),
      color.channel($hex, "green", $space: rgb),
      color.channel($hex, "blue", $space: rgb);
  }
  @each $name, $color in colors.$theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font: "Outfit", sans-serif;
  --font-mono: "Courier New", Courier, monospace;

  --content-width: 700px;
  --button-height: 44px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  overflow-y: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100%;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--K800);
  line-height: 1;

  background: var(--K100);
}

body,
button,
a,
textarea,
input {
  font-family: var(--font);
  color: var(--K800);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: var(--font);
  font-size: 18px;
  line-height: 1.3;
  color: var(--K800);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
  color: var(--K800);
}

h1 {
  font-size: 36px;
  font-weight: 650;
  color: var(--K800);
}
h2 {
  font-size: 26px;
  font-weight: 350;
  color: var(--K800);
}
h3 {
  font-size: 28px;
  font-weight: 600;
  color: var(--K800);
}
h4 {
  font-size: 26px;
  font-weight: 600;
  color: var(--K800);
}
h5 {
  font-size: 22px;
  font-weight: 600;
  color: var(--K800);
}
h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--K800);
}

p {
  margin-bottom: 20px;
}
p,
li {
  font-weight: 250;

  b {
    font-weight: 700;
  }
}

ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--blue);

  &:hover {
    color: var(--purple);
  }
}

button {
  cursor: pointer;
  margin: unset;
  background: unset;
  border: unset;

  transition: 0.2s ease all;
  padding: 0 16px;
  height: var(--button-height);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: calc(var(--button-height) / 2);
  border: 2px solid var(--K200);
  background: transparent;

  font-size: 18px;
  font-weight: 500;
  color: var(--K700);
  line-height: 1.4;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;

    border-color: rgba(var(--K200-rgb), 0.1);
    background: unset;

    color: var(--K300);
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      color: var(--K800);
      border-color: var(--K700);
      background: var(--K200);
    }
  }

  @mixin color-btn($name, $bg-color, $text-color, $text-shadow) {
    &.#{$name}-btn {
      border: unset;
      background: var(--#{$bg-color});
      box-shadow:
        inset 0 0 16px rgba(var(--white-rgb), 0.15),
        0 0 4px rgba(var(--#{$bg-color}-rgb), 0.3),
        1px 2px 10px rgba(var(--#{$bg-color}-rgb), 0.3);

      color: $text-color;
      text-shadow: $text-shadow;

      svg {
        fill: $text-color;
        filter: drop-shadow($text-shadow);
      }

      &:not(:disabled):hover {
        background: rgba(var(--#{$bg-color}-rgb), 0.7);
        border-color: rgba(var(--#{$bg-color}-rgb), 1);
        box-shadow:
          inset 0 0 10px rgba(var(--white-rgb), 0.2),
          0 0 8px rgba(var(--#{$bg-color}-rgb), 0.4),
          1px 2px 14px rgba(var(--#{$bg-color}-rgb), 0.4);

        color: $text-color;

        svg {
          fill: $text-color;
        }
      }
      &:disabled {
        background: var(--K200);
        box-shadow: unset;
        color: var(--K400);
        text-shadow: unset;

        svg {
          fill: rgba(var(--K300-rgb), 0.3);
        }
      }
    }
  }

  @include color-btn(
    "red",
    "red",
    rgba(var(--white-rgb), 1),
    0 1px 3px rgba(var(--black-rgb), 0.2)
  );
  @include color-btn(
    "green",
    "green",
    rgba(var(--white-rgb), 1),
    0 1px 3px rgba(var(--black-rgb), 0.2)
  );
  @include color-btn(
    "orange",
    "orange",
    rgba(var(--white-rgb), 1),
    0 1px 2px rgba(var(--black-rgb), 0.2)
  );
  @include color-btn(
    "blue",
    "blue",
    rgba(var(--black-rgb), 1),
    0 1px 2px rgba(var(--black-rgb), 0.2)
  );
  @include color-btn(
    "accent",
    "accent",
    rgba(var(--white-rgb), 1),
    0 1px 2px rgba(var(--black-rgb), 0.2)
  );

  &.small-btn {
    border-radius: calc(var(--button-height) * 0.8 / 2);
    height: calc(var(--button-height) * 0.8);

    font-size: 16px;
  }
  &.large-btn {
    border-radius: calc(var(--button-height) * 1.4 / 2);
    height: calc(var(--button-height) * 1.4);

    font-size: 20px;
  }
}

.color-green {
  color: var(--green);
}
.color-red {
  color: var(--red);
}
.color-orange {
  color: var(--orange);
}
